@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --font-display: "Poppins", sans-serif;
  --color-primary: #2172f0;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #ffffff;
  }
}